@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

.title-xl{
  font-family: 'League Spartan', sans-serif;
}
.App{
  background: #121212;
}
.explore-text{
  top: 20px;
  right: 494px;
  width: 570px;
}
.description{
  font-family: 'League Spartan', sans-serif;
}
html, body{
  margin: 0;
  
}